<?xml version="1.0" encoding="UTF-8"?>

<suite name="All Test Suite" parallel="tests" thread-count="4" verbose="1" >
    <listeners>
        <listener class-name="extentReport.ExtentReporterNG"/>
    </listeners>>
    <test name="Test for adding different size items in cart">
        <parameter name="password" value="idgad"/>
        <classes>
            <class name="optimusEcart.ShoppingCartTest">
                <methods>
                    <include name="verifyAddFeaturedItemsToCart"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify search items and add to cart">
        <parameter name="password" value="idgad"/>
        <parameter name="searchItemName" value="shirt"/>
        <classes>
            <class name="optimusEcart.ShoppingCartTest">
                <methods>
                    <include name="verifyAddItemsToCart"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Change the product size on details page add items to cart">
        <parameter name="password" value="idgad"/>
        <classes>
            <class name="optimusEcart.ShoppingCartTest">
                <methods>
                    <include name="verifyAddDifferentSizeItemsToCart"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify product price by changing item quantity in cart">
        <parameter name="password" value="idgad"/>
        <parameter name="searchItemName" value="shirt"/>
        <classes>
            <class name="optimusEcart.ShoppingCartTest">
                <methods>
                    <include name="verifyProductPrice"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>