<?xml version="1.0" encoding="UTF-8"?>

<suite name="All Test Suite" parallel="tests" thread-count="4" verbose="1" >
    <!--<listeners>-->
        <!--<listener class-name="listeners.ItestListenerseners"/>-->
    <!--</listeners>>-->
    <test name="Test for adding different sie items in cart">
        <parameter name="password" value="idgad"/>
        <classes>
            <class name="optimusEcart.ShoppingCart">
                <methods>
                    <include name="verifyAddFeaturedItemsToCart" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify search items and add to cart">
        <parameter name="password" value="idgad"/>
        <parameter name="searchItemName" value="shirt"/>
        <classes>
            <class name="optimusEcart.ShoppingCart">
                <methods>
                    <include name="verifyAddItemsToCart" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Change the product size on details page add items to cart">
        <parameter name="password" value="idgad"/>
        <classes>
            <class name="optimusEcart.ShoppingCart">
                <methods>
                    <include name="verifyAddDifferentSizeItemsToCart" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Verify product price by changing item quantity in cart">
        <parameter name="password" value="idgad"/>
        <parameter name="searchItemName" value="shirt"/>
        <classes>
            <class name="optimusEcart.ShoppingCart">
                <methods>
                    <include name="verifyProductPrice" />
                </methods>
            </class>
        </classes>
    </test>
</suite>